<style>

body {
    text-align: center; 
    padding: 10px; 
    color: #ffffff;
    background-image: linear-gradient(#000000, #434343);
    height: 100%;
}

.background-div {
    height: 91vh;
}

</style>

<div class="background-div">
<h1>Image Processor!</h1>
<p>Here we will demonstrate how our z-blur algorithm works on an image!</p>
</div>
